@model GlobalCityManager.Models.Country
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <h1>Country Detail</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>@Html.DisplayNameFor(p=>p.Code)</td>
                    <td>@Html.DisplayFor(p=>p.Code)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(p=>p.Name)</td>
                    <td>@Html.DisplayFor(p=>p.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(p=>p.Region)</td>
                    <td>@Html.DisplayFor(p=>p.Region)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(p=>p.NationalFlag)</td>
                    <td>
                        <img src="..\@Model.NationalFlag" class="image" />
                    </td>
                </tr>
            </table>
            <div class="col-md-3"></div>        
        </div>
    </div>
</div>

