@using GlobalCityManager.Models
@model City
<h1>Add a New City</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(ct=>ct.Name)
    @Html.TextBoxFor(ct=>ct.Name)
    @Html.LabelFor(ct=>ct.Population)
    @Html.TextBoxFor(ct=>ct.Population)
    @Html.LabelFor(ct=>ct.District)
    @Html.TextBoxFor(ct=>ct.District)
    @Html.LabelFor(ct=>ct.CountryCode)
    @Html.DropDownListFor(ct=>ct.CountryCode, new SelectList(new worldContext().Country.ToList(),"Code","Name"))
    <input type="submit" value="Create" />
}