@using GlobalCityManager.Models
@model CityCountriesVM
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Edit a City</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(ct=>ct.City.Id)
                <div class="form-group">
                    @Html.LabelFor(ct=>ct.City.Name,new{@class="label"})
                    @Html.TextBoxFor(ct=>ct.City.Name,new{@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(ct=>ct.City.Population,new{@class="label"})
                    @Html.TextBoxFor(ct=>ct.City.Population,new{@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(ct=>ct.City.District,new{@class="label"})
                    @Html.TextBoxFor(ct=>ct.City.District,new{@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(ct=>ct.City.CountryCode,new{@class="label"})
                    @Html.DropDownListFor(ct=>ct.City.CountryCode, new SelectList(Model.Countries,"Code","Name"),new{@class="form-control"})
                </div>
                <div class="form-row float-right">
                    <input type="submit" value="Update" class="btn btn-info" />
                </div>
            }
        </div>     
        <div class="col-md-3"></div>   
    </div>
</div>

